<%= render partial: "runs/highscore_table", locals: {scores: @user.runs.order("score DESC")[0..5]} %>

<div id="posts">
	<% if not @user.posts.empty? %>
	<% @user.posts.each do |post| %>
	<%= render partial: "posts/post", locals: {post: post} %>
	<% end %>
	<% else %>
	<p>This user has no posts. :(</p>
	<% end %>
</div>
