<div>
	<h3>You found the homepage of user <span class="username"><%= link_to @user.handle, user_path(@user.handle) %></span>!</h3>
</div>

<div id="posts">
	<% if not @user.posts.empty? %>
	<% @user.posts.each do |post| %>
	<div class="post">
		<%= post.body %>
	</div>
	<% end %>
	<% else %>
	<p>This user has no posts. :(</p>
	<% end %>
</div>
