<div id="game">
	<div class="score">
		<h4>SCORE <span id="multiplier">x1</span></h4>
		<p id="points" class="points">0000</p>
	</div>
	<div style="clear: both;"></div>
	<canvas id="snake-canvas" width=420 height=480><p>Your browser does not support the canvas element!</p></canvas>
</div>

<div id="instructions">
	<p>It's snake.</p>
</div>
