<% if current_user %>

<%= render partial: "runs/highscore_table", locals: {scores: @highscores} %>

<%= render partial: "posts/form", locals: {post: @new_post} %>

<div>
	<% @posts.each do |post| %>
	<%= render partial: "posts/post", locals: {post: post} %>
	<% end %>
</div>
<% else %>
<div>
	<% @posts.each do |post| %>
	<%= render partial: "posts/post", locals: {post: post} %>
	<% end %>
</div>
<% end %>
