<p><%= link_to 'New Post', new_post_path %></p>

<div id="posts">
  <% @posts.each do |post| %>
  <div class="post">
    <p class="username"><%= post.user.handle %></p>
    <p class="post-content"><%= post.body %></p>
  </div>
  <% end %>
</div>
