/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Ravi+Prakash|Khula:400,700|Exo:400,600,700,400italic,700italic|Open+Sans:700|Luckiest+Guy);

html {
  margin: 0px;
  padding: 0px;

  font-family: "Khula", "Exo", "Open Sans", Sans;
}

body {
  margin: 0px;
  padding: 0px;

  background: #FF8449;
}

#flash-message-container {
  position: fixed;
  z-index: 100;
  width: 20%;

  margin: 0px 40%;
  padding: 0px;

  list-style-type: none;
}

.flash-message {
  margin: 4px 0px;
  border-radius: 6px;
  padding: 2px 4px;

  background: #c034d0;
  color: #f8f0f8;

  font-family: "Exo", Sans;
  font-size: 0.8em;
  font-weight: 600;

  text-align: center;
}

.flash-message:first-child {
  margin-top: 2px;
}


#header {
  position: relative;

  height: 220px;

  margin-top: 0px;
  padding: 4px 10px;
  border-bottom: 14px solid #103312;

  background: #228d30;
}

#header h1 {
  position: absolute;
  left: 0px; bottom: -32px;

  padding: 2px 4px;
  margin: 0px;

  color: #196923;

  font-family: "Luckiest Guy", "Open Sans", Sans;
  font-size: 10em;
  font-weight: 900;

  text-shadow: 2px 2px #114b15;
}

#user_navigation {
  width: 500px;
  height: 65px;

  border: 1px solid #b3b3bb;
  border-radius: 6px;
  padding: 4px 8px;

  background: #e4f6f5;
}

#user_navigation img {
  float: left;

  border-radius: 4px;
}

#user_navigation #account_info {
  margin-left: 74px;
}

#user_navigation #account_info p {
  margin: 0px;
  padding: 0px;
}

.username {
  font-family: "Ravi Prakash", "Open Sans", Sans;
  font-size: 1.15em;
  font-bold: 900;

  text-shadow: 1px 1px #301313;

  color: #ab2727;
}

.username a {
  color: inherit;
  text-decoration: none;
}

.username a:visited {
  color: inherit;
  text-decoration: none;
}

.username a:hover {
  color: #da5826;
  text-decoration: underline;
}

#play_button {
  position: absolute;
  right: 8px; bottom: 4px;

  padding: 0px;
  border-radius: 4px;

  background: #eb4f00;
  color: #ffd4c3;

  box-shadow: 1px 1px 1px 1px #2d140a;

  font-family: "Open Sans", Sans;
  font-size: 4em;
  font-weight: bold;

  text-align: center;
}

#play_button a {
  position: relative;

  padding: 2px 24px;

  color: #ffd4c3;

  text-decoration: none;
}

#play_button a:hover {
  left: 3px; top: 2px;
  color: #ff9b8a;
}

#play_button:hover {
  box-shadow: inset 3px 2px #2d140a;
}

#content {
  width: 800px;
  margin: 12px auto;
}

#content > div {
  background: #eff6ff;

  margin: 10px 0px;
  border-radius: 3px;
  padding: 8px 4px;

  box-shadow: 1px 2px #516377;
}
