// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700,900|VT323);

#game {
	position: relative;

	text-align: center;
}

.score {
	position: relative;
	width: 420px;

	margin: 2px auto;

	font-family: "Source Code Pro", "Open Sans", monospace;
	font-weight: 700;
	font-size: 1.5em;
}

.score h4 {
	float: left;

	margin: 0px;
	padding: 2px 0px;
}

.score p {
	margin: 0px;
	padding: 0px;

	text-align: right;
}

#snake-canvas {
	background: url(http://1.bp.blogspot.com/-Atj4ze_I-84/UeJk-CPeCsI/AAAAAAAAHno/UIbSZkTfWBA/s1600/loading.gif) no-repeat center center;
	border-radius: 4px;
}
