// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
	background: #9e9ea9;

	border-radius: 4px;
	padding: 4px 6px;
}

.post {
	position: relative;
	background: #d0ad73;
	height: 64px;

	margin: 6px 2px;
	border: 1px solid #cd6a00;
	border-radius: 4px;
	padding: 2px 2px;
}

.post-avatar {
	float: left;
}

.post-avatar:hover + .post-content .username {
	color: #da5826;
	text-decoration: underline;
}

.post-content	{
	margin: 2px;
	margin-left: 70px;

	word-wrap: break-word;
}

.post-content h4 {
	line-height: 100%;

	margin: 0px 2px;
	padding: 0px 0px;

	font-size: 1.2em;
}

.post-content p {
	line-height: 100%;

	margin: 0px 2px;
	padding: 2px 2px;
}

.post-form {
	padding-left: 4px;
}

.post-form input[type="text"] {
	width: 88%;
	height: 24px;

	margin: 0px;
	border: 0px;
	border-radius: 6px;
	padding: 2px 4px;
}

.post-form input[type="submit"] {
	position: relative;
	top: 2px;
	background: #5763ea;
	width: 10%;
	height: 26px;

	box-shadow: 1px 1px #010311;

	margin: 0px;
	margin-top: 2px;
	padding: 0px;
	border: 0px;
	border-radius: 6px;

	color: #f2f3ff;

	font-family: "Open Sans", Sans;
	font-size: 1.1em;
	font-weight: 700;
}

.post-form input[type="submit"]:hover {
	background: #f2f3ff;

	color: #5763ea;
}
