// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
	border-radius: 4px;
}

.avatar.editable:hover {
	opacity: 0.2;
}

.username {
  font-family: "Ravi Prakash", "Open Sans", Sans;
  font-size: 1.15em;
  font-bold: 900;

  text-shadow: 1px 1px #301313;

  color: #ab2727;
}

.username a {
  color: inherit;
  text-decoration: none;
}

.username a:visited {
  color: inherit;
  text-decoration: none;
}

.username a:hover {
  color: #da5826;
  text-decoration: underline;
}
