<!DOCTYPE html>
<html>
<head>
  <title>Slither</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, message| %>
<%= content_tag :dv, message, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
